<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>VK</title>
  </head>
  <body>
    <ul>
      <li>This page was downloaded from {{ ansible_system }}: {{ ansible_os_family }}.</li>
    </ul>
  </body>
</html>
